.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 50%;
    margin: auto;
    padding: 1em;
    border: 2px solid grey;
    background-color: white;
}

.input {
    text-align: left;
    margin-bottom: 0.5em;
}

.button {
    width: fit-content;
    align-self: center;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px;
    background-color: rgb(95, 95, 240);
    color: white;
    cursor: pointer;
}

.error {
    color: red;
}

.error h4 {
    width: 50%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: left;
}

.error p {
    width: 50%;
    margin: auto;
    padding: 0;
    text-align: left;
}

.error ul {
    width: 50%;
    margin: auto;
    padding: 0;
}

.error ul li {
    list-style: none;
    text-align: left;
}