.view {
    text-align: center;
}

.error {
    color: red;
}

.error h4 {
    width: 50%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: left;
}

.error p {
    width: 50%;
    margin: auto;
    padding: 0;
    text-align: left;
}

.error ul {
    width: 50%;
    margin: auto;
    padding: 0;
}

.error ul li {
    list-style: none;
    text-align: left;
}

.load-more {
    margin-bottom: 1em;
}
