.flex-row {
    flex-direction: row;
    justify-content: space-evenly;
    height: 5em;
    font-size: 1em;
    font-family: sans-serif;
}

.recommendations .user-to-follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.form .user-to-follow .no-margin {
    margin: 0;
}